*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.fls
.directory
*.mwb.bak
*.mwb.beforefix

# kidiplom
kidiplom.bcf
kidiplom.glsdefs
kidiplom.loe
kidiplom.lol
kidiplom.run.xml
Jakub-Kadlcik-Bachelors-thesis.bcf
Jakub-Kadlcik-Bachelors-thesis.loe
Jakub-Kadlcik-Bachelors-thesis.lol
Jakub-Kadlcik-Bachelors-thesis.run.xml
